@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPLE HTML>
<html>
<head>
    <title> thethiencv - CV </title>
</head>

<body background="../content/bg2.jpg" 

    <h1>  Phan Dinh The Thien - Curriculum Vitae </h1>
    <table style="width:70%">
        <tr>
            <td> <span style="font-family:courier">76 BACHAI, Q.TB, P.6 </span> </td>
            <td> <span style="font-family:courier">Email: phandinhthethien@gmail.com </span> </td>

        </tr>
        <tr>
            <td> <span style="font-family:courier">HOCHIMINH CITY </span> </td>
            <td> <span style="font-family:courier">Facebook: <a href="https://www.facebook.com/mynameismeoww" target="_blank" style="text-decoration:none"> <span style="color:Black"> @@TheThien</a> </span> </td>
        </tr>
        <tr>
            <td> <span style="font-family:courier">VIETNAM </span> </td>
            <td> <span style="font-family:courier">Instagram: <a href="https://www.instagram.com/mydayswith/" target="_blank" style="text-decoration:none"> <span style="color:Black"> @@mydayswith </a> </span> </td>
        </tr>
    </table>
    <hr> <!-- kẻ ngang -->
    <!-- Personal information -->
    &nbsp;  <!-- dong -->

    <h2 style="line-height:35px">&nbsp;&nbsp;&nbsp; Personal information </h2>
    <table style="width:60%">
        <tr>
            <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="../content/fa.jpg" alt="st icon" style="width:150px;height:150px"> </td>
            <td>
                <span style="line-height:30px"> <b> First name: </b> THIEN </span> <br>
                <span style="line-height:30px"> <b> Last name: </b> PHAN </span> <br>
                <span style="line-height:30px"> <b> Birthday: </b> MAY 10<sup> th </sup>, 1999 </span> <br>
                <span style="line-height:30px"> <b> Nationality: </b> Vietnamese </span> <br>
                <span style="line-height:30px"> <b> Gender: Male </b></span>
            </td>
            <td>
                <!-- Audio -->
                <audio id="myAudio" controls autoplay style="margin-left:120%">
                    <source src="../content/10cm.ogg" type="audio/ogg">
                    <source src="../content/10cm.mp3" type="audio/mpeg">
                </audio>
            </td> 
        </tr>
    </table>

    <!-- Education -->

    <h2 style="text-align:center"> Education </h2>
    <ul style="list-style-type:square" ;>
        <li style="margin-left:400"> <p> Van Lang University (2018 - Hiện tại) </p> </li>
        <li style="margin-left:400"> <p> Trung Hoc Pho Thong Thanh Da - KHOI A (2014 - 2017) </p> </li>
    </ul>

    <!-- Skill -->

    <h2 style="margin-left:30">  Skill </h2>
    <table style="width:70%">
        <ul style="list-style-type:square" ;>
            <li style="margin-left:50"> <p> Programming languages: C#, Java, HTML </p> </li>
            <li style="margin-left:50"> <p> Languages: Vietnamese (mother tongue), Japanese (B5) </p> </li>
            <li style="margin-left:50"> <p> Drawing </p> </li>
        </ul>
        <!-- Scholarships & Awards -->

        <h2 style="margin-left:30"> Scholarships & Awards </h2>
        <ul style="list-style-type:square">
            <li style="margin-left:50"> <p> Fellowship, Van Lang University </p> </li>
            <li style="margin-left:50"> <p> Giai Nhat Cuoc Thi Ve Tranh Theo Chu De Level THCS </p> </li>
            <li style="margin-left:50"> <p> Giai Ba Cuoc Thi Vo Sach Chu Dep Level Tieu Hoc </p> </li>

        </ul>

</body>

